[Desktop Entry]
Name=Picocrypt
Exec=picocrypt-tsugu
Icon=${SNAP}/meta/gui/picocrypt-tsugu.svg
Comment=Tiny encryption tool
Terminal=false
Type=Application
MimeType=x-content/unix-software;